.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #81AFDDFF; /* Background color */
  margin: 0;
  color: white; /* Text color */
}

.login-container {
  background-color: #2C4684FF; /* Login box background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  color: white; /* Header text color */
}

.form-group {
  margin: 10px 0;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #141D3FFF; /* Input field border color */
  border-radius: 4px;
  background-color: transparent;
  color: white; /* Input text color */
  margin-top: 5px;
}

button {
  background-color: #141D3FFF; /* Button background color */
  color: white; /* Button text color */
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background-color: #2C4684FF; /* Hover background color */
}

/* Customize other styles as needed */
